<h1 class="mb-xl-3">Discography</h1>
<h2 class="discog-h2 mb-xl-2">Album</h2>
<div class="row mb-xl-5">
  <h3 class="col-xl-8">CLAPCLAPCLAP!</h3>
  <div class="col-xl-1 pl-0">
    <iframe src="https://open.spotify.com/embed/album/5mGR6qKnpILzSzq1yyAUXk?si=i7bOUDoIR3G0bQJpGJqoR" width="500" height="580" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
<h2 class="discog-h2 mb-xl-2">Singles</h2>
<div class="row">
  <h3 class="col-xl-8">Sariling Multo (Sa Panaginip)</h3>
  <div class="col-xl-1 pl-0">
    <iframe src="https://open.spotify.com/embed/track/4trnDsgZDTeX09IjfSDyPt" width="500" height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <h3 class="col-xl-8">Ang Pinagmulan</h3>
  <div class="col-xl-1 pl-0">
    <iframe src="https://open.spotify.com/embed/track/45Nm4dwbrahPabtJQj8Cf0" width="500" height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
  <h3 class="col-xl-8">Sa Kahapon</h3>
  <div class="col-xl-1 pl-0">
    <iframe src="https://open.spotify.com/embed/track/2HOE4btBbbGgnFA7TpqNU0" width="500" height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>

