<h1>Home</h1>
<div class="row">
  <div class="d-flex justify-content-end col-xl-12">
    <div class="trapezoid trapezoid-img-r"/>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="trapezoid trapezoid-img-l"/>
  </div>
</div>
