<h1>Home</h1>

<div class="row">
  <p class="col-xl-4 order-xl-1 col-lg-4 col-md-5 order-md-2 t-3 ">
    Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
  </p>
  <div class="col-xl-8 order-xl-2 col-lg-8 order-md-1 trapezoid-img trapezoid-img-r pl-xl-0 pl-lg-0">
    <%= image_tag ("ivofspades-3.jpg"), id: "trapezoid-img-r1", class: "img-fluid" %>
  </div>
<!--    <div class="trapezoid trapezoid-img-r"></div>-->
  <div class="col-xl-8 order-xl-3 col-lg-8 order-md-3 trapezoid-img trapezoid-img-l pr-xl-0">
    <%= image_tag ("ivofspades-9.jpg"), id: "trapezoid-img-l1", class: "img-fluid" %>
  </div>
  <p class="col-xl-4 order-xl-4 col-lg-4 col-md-5 order-md-4">
    Lorem ipsum
  </p>

  <p class="col-xl-4 order-xl-5 col-lg-4 col-md-5 order-md-6">
    Lorem ipsum
  </p>
  <div class="col-xl-8 order-xl-6 order-md-5 trapezoid-img trapezoid-img-r pl-xl-0 pl-lg-0">
    <%= image_tag ("ivofspades-2.jpg"), id: "trapezoid-img-r2", class: "img-fluid" %>
  </div>

</div>




