<h1>Home</h1>

<div class="row">
  <p class="col-xl-4 mt-3 ">
    Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
  </p>
  <div class="col-xl-8 trapezoid-img trapezoid-img-r pl-0">
    <%= image_tag ("ivofspades-3.jpg"), id: ""%>
  </div>
<!--    <div class="trapezoid trapezoid-img-r"></div>-->
  <div class="col-xl-8 trapezoid-img trapezoid-img-l">
    <%= image_tag ("ivofspades-9.jpg"), class: "" %>
  </div>
  <p class="col-xl-4">
    Lorem ipsum
  </p>

  <p class="col-xl-4">
    Lorem ipsum
  </p>
  <div class="col-xl-8">
    <%= image_tag ("ivofspades-2.jpg"), class: "trapezoid-img trapezoid-img-r" %>
  </div>

</div>




