<h1>Home</h1>

<div class="row">
  <p class="col-xl-5 col-lg-4 t-3 ">
    Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
  </p>
  <div class="col-xl-7 col-lg-8 trapezoid-img trapezoid-img-r pl-0">
    <%= image_tag ("ivofspades-3.jpg"), id: "trapezoid-img-r1"%>
  </div>
<!--    <div class="trapezoid trapezoid-img-r"></div>-->
  <div class="col-xl-7 col-lg-8 trapezoid-img trapezoid-img-l pr-0">
    <%= image_tag ("ivofspades-9.jpg"), id: "trapezoid-img-l1" %>
  </div>
  <p class="col-xl-5 col-lg-4">
    Lorem ipsum
  </p>

  <p class="col-xl-5 col-lg-4">
    Lorem ipsum
  </p>
  <div class="col-xl-7 col-md-8 trapezoid-img trapezoid-img-r pl-0">
    <%= image_tag ("ivofspades-2.jpg"), id: "trapezoid-img-r2" %>
  </div>

</div>




