<h1>About</h1>
<div class="row">
  <p class="col-xl-4 col-lg-4 t-3 ">
    Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
    <br> Lorem ipsum
  </p>
  <div class="">
    <%#= image_tag ("ivofspades-3.jpg"), class: "col-xl-8 col-lg-8"%>
  </div>
  <div class="col-xl-8 col-lg-8 ">
    <%#= image_tag ("ivofspades-9.jpg")%>
  </div>
  <p class="col-xl-4 col-lg-4">
    Lorem ipsum
  </p>

  <p class="col-xl-4 col-lg-4">
    Lorem ipsum
  </p>
  <div class="col-xl-8 col-md-8">
    <%#= image_tag ("ivofspades-2.jpg")%>
  </div>
</div>
<div class="d-flex justify-content-center">
  <!-- SVG files used are from https://www.flaticon.com/home -->
  <!-- Original SVG files from the flaticon website are named "x_flat-icon.svg" -->
  <!-- SVGs are edited with Adobe Illustrator as the original files had blank spaces left and right. -->
  <a href="https://www.instagram.com/ivofspades/" ><%= embedded_svg "instagram.svg" %></a>
  <a href="https://www.facebook.com/IVOFSPADES/" ><%= embedded_svg "facebook.svg" %></a>
  <a href="https://twitter.com/IVOFSPADES" ><%= embedded_svg "twitter.svg" %></a>
</div>