<h1>About</h1>
<div class="row">
  <p class="col-xl-5">
    Lorem ipsum
  </p>

  <div class="col-xl-7">

  </div>
  <p class="col-xl-5">
    Lorem ipsum
  </p>
  <div class="col-xl-12">
  </div>
</div>