/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

$orange: #A0531C;
$white: #FFFFFF;
$yellow: #FFAE20;


/* @media bootstrap edits or general responsive design*/
@media (min-width: 1200px) {

  .ml-xl-7 {
    margin-left: 5rem !important;
  }
  .mr-xl-7 {
    margin-right: 5rem !important;
  }
  .ml-xl-8 {
    margin-left: 6rem !important;
  }
  .mr-xl-8 {
    margin-right: 6rem !important;
  }


  //https://css-tricks.com/the-shapes-of-css/ inspired to make this shape
  //class named trapezoid-img
  .trapezoid-img {
    width: 100%;
    height: 300px;
  }
  //image tag in a trapezoid-img class
  .trapezoid-img img {
    max-height: 200%;
    min-width: 100%;
    object-fit: cover;
    position: relative;
  }

  .trapezoid-img-l {
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-l1 {

  }

  .trapezoid-img-r {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-r1 {

  }

  #trapezoid-img-r2 {

  }



}

@media (min-width: 1500px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1300px;
  }
  //https://css-tricks.com/the-shapes-of-css/ inspired to make this shape
  //class named trapezoid-img
  .trapezoid-img {
    width: 100%;
    height: 300px;
  }
  //image tag in a trapezoid-img class
  .trapezoid-img img {
    max-height: 200%;
    min-width: 100%;
    object-fit: cover;
    position: relative;
  }

  .trapezoid-img-l {
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-l1 {

  }

  .trapezoid-img-r {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-r1 {
    bottom: 60px;
    right: 20px;
  }

  #trapezoid-img-r2 {
    right: 250px;
  }
}

@media (min-width: 1830px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1550px;
  }
  //https://css-tricks.com/the-shapes-of-css/ inspired to make this shape
  .trapezoid-img {
    width: 100%;
    height: 300px;
  }

  //image tag in a trapezoid-img class
  .trapezoid-img img {
    max-height: 200%;
    max-width: 100%;
    object-fit: fill;
    position: relative;
  }

  .trapezoid-img-l {
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-l1 {

  }

  .trapezoid-img-r {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  }

  #trapezoid-img-r1 {;
    bottom: 60px;
  }
  #trapezoid-img-r2 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

/* html tags */

body {
  background-color: #080808;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Segoe UI";
}

h1, .discog-h2, h3 {
  color: $yellow;
}

p {
  color: $yellow;
}

/* classes and IDs mostly */
#A0531C_spade, #black_spade, #white_spade {
  height: 5em;
}


#footer, #footer_link, #ivos-spotify-link {
  color: $orange;
}

#footer_hr {
  background-color: $white;
}


#footer_link {
  text-decoration: underline;
}

.ivos-instructions {
  color: $white;
}

#ivos-spotify-link {
  transition-duration: 0.7s;
}

#ivos-spotify-link:hover {
  color: $white;
}

.ml-8 {
  margin-left: 6rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

.nav-link {
  color: $white;
  font-size: 20px;
  transition-duration: 0.3s;
}

.nav-link:hover {
  color: $orange;
}
