/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@media (min-width: 1200px) {
  .ml-xl-7 {
    margin-left: 5rem !important;
  }
  .mr-xl-7 {
    margin-right: 5rem !important;
  }
  .ml-xl-8 {
    margin-left: 6rem !important;
  }
  .mr-xl-8 {
    margin-right: 6rem !important;
  }
}

@media (min-width: 1500px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1300px;
  }
}

@media (min-width: 1830px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1550px;
  }
}

.ml-8 {
  margin-left: 6rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

body {
  background-color: #080808;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Segoe UI";
}

h1, .discog-h2, h3 {
  color: #FFAE20
}

#A0531C_spade, #black_spade, #white_spade {
  height: 5em;
}

.nav-link {
  color: #ffffff;
  font-size: 20px;
}

#footer_hr {
  background-color: #ffffff;
}

#footer, #footer_link {
  color: #A0531C;
}

#footer_link {
  text-decoration: underline;
}