<hr id="footer_hr"/>
<p id='footer' class="text-center">Most photos used are taken
  by <%= link_to 'Daniel Aguilar', 'https://www.instagram.com/raliugaleinad', id: 'footer_link' %>
  <br/>
  A school project by Jerico Luis Lua for the module 133.
</p>